body {
    background-color: #F7F6BB;
    opacity: 70%;
}

.main-heading {
    color: #114232;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    text-align: center;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: #FCDC2A;
}

.para-graph {
    color: rgb(44, 21, 2);
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 8px;
}

.list-class {
    color: rgb(1, 155, 1);
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: block;
    text-align: center;
    padding: unset;
}

.list-items {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 12px 30px 12px 30px;
    border: 2px solid;
    border-color: darkgreen;
    padding: 8px;
}

.sub-heading {
    color: rgb(23,145,56);
    font-size: medium;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    text-align: center;
}

.div-cont {
    background-color: #FCDC2A;
    background-blend-mode: lighten;
    text-align: justify;
    margin: 25px;
    padding: 25px;

}

.food-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
}